.navchange {
    animation-name: scrolledWindow;
    animation-duration: .6s;
}

@keyframes scrolledWindow {
    from{
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}