.navchange {
    animation-name: scrolledWindow;
    animation-duration: .6s;
}

@keyframes scrolledWindow {
    from{
        opacity: 0;
        transform: translateY(-20%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}

// __________________________________________________________

// .animatedCircle {
//     height: 30px;
//     width: 30px;
//     display: table;
//     svg {
//     width: 30px;
//     position: absolute;
//     top:50%;
//     transform: translate(-50%,-50%);
//     fill: rgb(116, 31, 245);
//     opacity: 0.3;
//     }

//     svg:nth-child(2){
//       fill:rgb(116, 31, 245);
//       opacity: 0.5;
//     }
//     svg:nth-child(3){
//       fill:rgb(116, 31, 245);
//       opacity: 1;
//       }
//     }