$top: top 0.27s;

$bottom: bottom 0.27s;

.bg_animation_top {
    -webkit-transition: $top;
    -moz-transition: $top;
    -o-transition: $top;
    transition: $top;
}

.bg_animation_bottom {
    -webkit-transition: $bottom;
    -moz-transition: $bottom;
    -o-transition: $bottom;
    transition: $bottom;
}