.display-on {
    transition: transform .30s;
    transform: translateX(0%);
}

.display-off {
    transition: transform .30s;
    transform: translateX(100%);
}

.backdrop {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .25s, 0s;
    transition-delay: 0s, .25s;
}

.backdrop-open {
    visibility: visible;
    opacity: 0.5;
    transition-property: visibility, opacity;
    transition-duration: 0s, .25s;
    transition-delay: 0s;
}