@use 'variables';
 body,html {
     height: 100%;
     width: 100%;
}
 .main-block {
     min-height: 100%;
     width: 100%;
     position: relative;
     background-color: variables.$black-erie;
     display: flex;
     align-items: center;
}
 .title__container {
     display: flex;
     justify-content: center;
     margin-bottom: 20px;
     .main-block__title {
         padding-left: 0px;
         position: relative;
         width: 100%;
         h2{
             padding: 0px;
             color: variables.$gold-color;
             text-align: center;
             width: 100%;
             font-weight: 400;
             font-size: 28px;
             word-break: keep-all;
             font-family: variables.$font-to-use;
        }
         p{
             color: variables.$white-cult;
             font-weight: 700;
             text-align: center;
             font-family: variables.$font-to-use;
        }
    }
}
 .main-block__squares {
     position: relative;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-bottom: 150px;
     margin-top: 150px;
}
 .main-block__square {
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
     .square__icon {
         padding: 30px 20px;
         width: 80%;
         min-width: 230px;
         border: 1px solid variables.$gold-color;
         transition: background-color 0.5s;
         p {
             color: variables.$white-cult;
             text-align: center;
             font-weight: 700;
             font-family: variables.$font-to-use;
             transition: color 0.3s;
        }
         p:nth-child(2) {
             font-weight: 400;
        }
         img {
             display: block;
             width: 35px;
             margin: 0 auto;
             padding-top: 10px;
        }
         &:hover {
             background-color: rgba(0,0,0,0.5);
             p{
                 color: variables.$gold-color;
            }
             img {
                 animation: shake 0.5s;
            }
        }
    }
}
 @keyframes shake {
     0% {
         transform: rotate(0deg) translateX(0px) 
    }
     70% {
         transform: rotate(0deg) translateY(-10px) 
    }
     100% {
         transform: rotate(0deg);
    }
}
 .custom-shape-divider-bottom {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     overflow: hidden;
     line-height: 0;
     z-index: 2000;
}
 .custom-shape-divider-bottom svg {
     position: relative;
     display: block;
     width: calc(101% + 1.3px);
     height: 101px;
     transform: rotateY(180deg);
}
 .custom-shape-divider-bottom .shape-fill {
     fill: variables.$white-cult;
}
 @media (min-width: 576px) {
}
 @media (min-width: 768px) {
     .title__container {
         padding-left: 0px;
         .main-block__title {
             padding-left: 0px;
             position: relative;
             width: 100%;
             h2{
                 padding: 0px;
                 text-align: left;
                 width: 100%;
            }
             p{
                 text-align: left;
                 padding-left: 0px;
            }
        }
    }
     .main-block__square {
         .square__icon {
             width: 100%;
            p {
            	min-height: 48px;
            }
        }
    }
}
 @media (min-width: 992px) {
     .title__container {
         .main-block__title {
             margin-left: -70px;
        }
    }
     .main-block__square {
         .square__icon {
             width: 100%;
        }
    }
}
 @media (min-width: 1200px) {
     .title__container {
         .main-block__title {
             margin-left: 5px;
        }
    }
}
 