@use 'variables';

body,html {
	height: 100%;
	width: 100%;
}

.second_section {
	position: relative;
	padding: 20px 0px 75px;

	.second_section--text {
		font-family: variables.$font-to-use;
		margin: 50px 0px;
		h2 {
			font-weight: 700;
			padding: 20px 0px;
			span {
				background-color: variables.$gold-color;
			}
		}
		p{
			text-align: center;
			width: 85%;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}
	.animated-circle {
      display: table;
      
      svg {
      width: 270px;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      fill: variables.$gold-color;
      opacity: 0.3;
      }

      svg:nth-child(2){
        fill:variables.$gold-color;
        opacity: 0.5;
      }
      svg:nth-child(3){
        fill:variables.$gold-color;
        opacity: 1;
        }
     }
	}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
	.second_section{
		.animated-circle {
		    svg {
		    width: 300px;
			    }
	    	}
		}
	}

@media (min-width: 992px) {
	/*  */
    .second_section {
    	padding: 120px 0px 120px;
		.second_section--text {
			h2 {
				width: 400px;
    			margin: 0 auto;
				}
			}
	.animated-circle {
		    svg {
		    width: 350px;
			    }
	    	}
		}
	}	

@media (min-width: 1200px) {


}