$right: right 0.2s 0s;
$left: left 0.2s 0s;

.top_animation {
    top: 0%;
}

.click {
    top: -100%;
}

.right_animation {
    -webkit-transition: $right, top 0.2s 0.2s;
    -moz-transition: $right, top 0.2s 0.2s;
    -o-transition: $right, top 0.2s 0.2s;
    transition: $right, top 0.2s 0.2s;
}

.left_animation {
    -webkit-transition: $left, top 0.2s 0.2s;
    -moz-transition: $left, top 0.2s 0.2s;
    -o-transition: $left, top 0.2s 0.2s;
    transition: $left, top 0.2s 0.2s;
}
